.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  /* background: #272725; */
}

.about-content {
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container h1 {
  color: darkblue;
  font-size: 45px;
}

.bio-image {
  width: 550px;
  height: 600px;
  filter: grayscale(100%);
  /* opacity: 0.9; */
}
