.navbar {
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  text-align: center;
  transition: top 0.6s;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: 0 60px;
}

.logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav-links li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  margin: 0 12px;
  font-size: 24px;
  padding-bottom: 8px;
}

.nav-links li a:hover {
  border-bottom: 4px solid #437aed;
}

/* MOBILE */
@media (max-width: 812px) {
  .logo {
    width: 40px;
    height: 40px;
  }
  .nav-container {
    padding: 10px;
    margin: 0 30px;
  }

  .nav-links li a {
    margin: 0 5px;
    font-size: 18px;
  }
}
