@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
  overflow-x: hidden;
}

.btn {
  font-size: 18px;
  width: 140px;
  height: 50px;
  padding: 3px;
  outline: none;
  border: 3px solid #fff;
  background: transparent;
  color: #fff;
  overflow: hidden;
  background-image: -webkit-linear-gradient(
    30deg,
    transparent 50%,
    #3e72e2 50%
  );
  background-image: linear-gradient(30deg, transparent 50%, #3e72e2 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 600ms ease-in-out;
  transition: background 600ms ease-in-out;
}

.btn:hover {
  background-position: 100%;
  color: #fff;
  cursor: pointer;
}

.btn-dark {
  font-size: 18px;
  width: 140px;
  height: 50px;
  padding: 3px;
  outline: none;
  border: 3px solid #fff;
  background: transparent;
  color: #fff;
  overflow: hidden;
  background-image: -webkit-linear-gradient(30deg, #1f2227 50%, #3e72e2 50%);
  background-image: linear-gradient(30deg, #1f2227 50%, #3e72e2 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 600ms ease-in-out;
  transition: background 600ms ease-in-out;
}

.btn-dark:hover {
  background-position: 100%;
  color: #fff;
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 812px) {
  .btn {
    font-size: 12px;
    width: 100px;
    height: 35px;
  }
}
